asgiref==3.7.2
certifi==2023.11.17
charset-normalizer==3.3.2
colorama==0.4.6
cors==1.0.1
Django==5.0
django-rest-framework==0.1.0
djangorestframework==3.14.0
filelock==3.13.1
future==0.18.3
gevent==23.9.1
greenlet==3.0.3
idna==3.6
psycopg2-binary==2.9.9
PySocks==1.7.1
pytz==2023.3.post1
requests==2.31.0
requests-file==1.5.1
six==1.16.0
sqlparse==0.4.4
tldextract==5.1.1
typing_extensions==4.9.0
urllib3==2.1.0
zope.event==5.0
zope.interface==6.1
